		<footer>
			<p>COPYRIGHT © 2019 TECGNOLOGICO DE GUATAPE. TODOS LOS DERECHOS RESERVADOS</p>
			<p><b>DIRECCION</b>KILOMETRO 1 EL PEÑOL GUATAPE GUATAPE-COLOMBIA-SURAMÉRICA <b>HORARIO ATENCIÓN AL PÚBLICO</b> 7:00  A.M. A 12:00 M. Y DE 1:30 P.M. A 6:00 P.M DE LUNES A VIERNES <b>TELÉFONO</b> 4507687</p>
			<p><b>ATENCIÓN AL USUARIO:</b>ATENCIONUSUARIO@TDEG.EDU.CO</p>
		</footer>
	</section>
</body>
</html>